{#
/**
 * @file
 * Template for the stock notification message.
 *
 * Available variables:
 * - message: The message
 * - commerce_product_variation: The product variation.
 * - commerce_product_variation_url: The product variation url.
 * - user: The user.
 * - mail: The email address.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-stock-notifications-message">
  {{ message }}
</div>
